
$base-color: #fefefe;
$base-color-active : #fcfcfc;

$brand-primary: #00A168;
$brand-primary-active: #01C17D;
$brand-primary-deep: #03724B;

$brand-typeface : 'Lato', sans-serif;

$border-color: #efefef;
$border-primary: 1px solid $border-color;

$default-space-size : 20px;

$default-transition: all .05s ease-in-out;
