@charset 'utf-8';
@import "bootstrap_variables";
@import "../bower_components/bootstrap/scss/bootstrap";
@import "variables";
/*
 * Commmon
 */
a {
    color: $brand-primary;
    &:hover {
        text-decoration: none;
        color: $brand-primary-active;
    }
    &:focus {
        outline: none;
    }
}

ul {
    list-style-type: none;
}

/*
 * Components
 */
.btn {
    transition: $default-transition;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    &.btn-full {
        @extend .col-md-12;
    }
    &.btn-primary {
        background-color: $brand-primary;
        border: 2px solid $brand-primary-active;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);

        &:hover {
            background-color: $brand-primary-active;
        }
    }
    &.btn-default {
        background-color: #fcfcfc;
        border: $border-primary;
        color: #aaa;
        &:hover {
            background-color: #f7f7f7;
        }
    }
}

.form {
    &.admin {
        display: block;
        width: 80%;
        label {
            display: block;
            font-weight: bold;
        }
        input {
            width: 100%;
            border: $border-primary;
            border-radius: 5px;
            padding: 0.8rem;
            margin-bottom: 2rem;
        }
        textarea {
            width: 100%;
            height: 700px;
            border: $border-primary;
            border-radius: 5px;
            padding: 0.8rem;
            margin-bottom: 2rem;
        }
    }
}
/*
 * Layouts
 */
#adminMasterControll {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    .admin-master__info {
        .logo {}
        .logined-user {
            margin-left: 10px;
            display: inline-block;
            font-size: 13px;
            color: #fff;
        }
    }
    .admin-master__menu a {
        display: inline-block;
        font-size: 13px;
        margin-left: 10px;
    }
}

#adminSidebar {
    padding-top: 45px;
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #f7f7f7;
    .nav-title {
        height: 5vh;
        padding: 1rem 1rem 0;
        font-size: 1rem;
    }
    nav {
        position: relative;
        height: calc(100vh - 45px);
        .to-front {
            position: absolute;
            bottom: 0;
        }
        ul {
            padding-left: 0;
            li {
                a {
                    display: block;
                    padding: 1rem;
                    &:hover {
                        background-color: #ddd;
                    }
                }
                > ul {
                    > li {
                        > a {
                            background-color: #f1f1f1;
                            padding-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}

#adminBodyBlock {
    padding-top: 45px;
    margin-left: 250px;
}
/*
 * Parts
 */
.admin-display {
    background-color: #fcfcfc;
    .admin-display__head {
        padding: 2rem;
        .admin-display__head__title {
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: bold;
        }
        .admin-display__head__caption {
            color: #888;
            font-size: 0.8rem;
        }
    }
    .admin-display__body {
        padding: 0 2rem 2rem;
    }
}

.message {
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,.5);
    padding: 5rem;
    width: 60%;
    top: 20%;
    left: 20%;
    text-align: center;
    color: #fff;

    &.success {
        background-color: $brand-primary;
    }
}

.typeface {
    font-family: $brand-typeface;
}

.naked {
    margin: 0;
    padding: 0;

    &.list {
        list-style-type: none;
    }
}
/*
 * Article Lists
 */
#articleList {
    .content--block {
        &.index {
            @extend .row;

            .content--block__wrap {
                @extend .col-lg-10;
                padding: 1rem 1rem 0;

                .content--block__title {
                    margin-bottom: 1rem;
                    font-size: 1.2rem;
                }

                .content--block__text {
                    font-size: 0.85rem;
                }
            }

            .content--block__action {
                @extend .row;
                @extend .col-xs-2;
                align-items: center;
                justify-content: center;

                .action {
                    margin: 0 0.3rem;
                }
            }
        }
    }
}
