@import "bootstrap_variables";
@import "../bower_components/bootstrap/scss/bootstrap";
@import "variables";

/*============================
============================*/
.btn {
  transition: $default-transition;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  &.btn-full {
    @extend .col-md-12;
  }
  &.btn-primary {
    background-color: $brand-primary;
    border: 2px solid $brand-primary-active;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    &:hover {
      background-color: $brand-primary-active;
    }
  }
  &.btn-default {
    background-color: #fcfcfc;
    border: $border-primary;
    color: #aaa;
    &:hover {
      background-color: #f7f7f7;
    }
  }
}

.admin-template {
  height: 100vh;
  background: $brand-primary;
  position: relative;
  .logo-area {
    text-align: center;
    margin: 5rem auto 2rem;
  }
  .admin-form {
    @extend .container;
    .form-controll-wrapper {
      @extend .row;
      justify-content: center;
      .input {
        @extend .col-lg-12;
        margin: .3rem 0;
        text-align: center;
        label {
          margin-bottom: 0;
          color: #fff;
        }
        .form-controll {
          padding: .5rem 4rem .5rem 1.2rem;
          margin-left: 1rem;
          border: 2px solid $brand-primary-active;
          border-radius: 50px;
        }
      }
    }
    .login-btn {
      margin-top: 2rem;
    }
  }
  .to-add {
    text-align: center;
    margin: 3.5rem auto;
    width: 30%;
    border-top: 1px solid $brand-primary-active;
    padding: 3rem;
    a {
      display: inline-block;
      margin: 0 1rem;
      color: #fff;
      font-size: .7rem;
    }
  }
}

.message {
  &.error {
    padding: 0 1.5rem 1.5rem;
    text-align: center;
    color: #fff;
  }
}



footer {
  position: absolute;
  bottom: 0;
}
